freelance_job_alerts.json
{
  "name": "freelance",
  "nodes": [
    {
      "parameters": {
        "url": "https://remoteok.com/api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [208, 0],
      "id": "8a63a58e-eaaa-4c72-9113-18663ab5aa67",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const jobs = $input.all();\nreturn jobs\n  .filter(item => item.json.position)\n  .map(item => ({\n    json: {\n      remote_id: String(item.json.id),\n      title: item.json.position,\n      company: item.json.company,\n      url: item.json.url\n    }\n  }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [416, 0],
      "id": "96551230-50df-4cdb-b91c-b449faa5844b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=🚀 NEW REMOTE JOB\n💼 {{$('Code in JavaScript1').item.json.title}}\n🏢 {{$('Code in JavaScript1').item.json.company}}\n🤖 AI Analysis:\n{{$json.text}}\n🔗 {{$('Code in JavaScript1').item.json.url}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1872, 320],
      "id": "c741fa1f-6991-4bb7-bf57-7a0e3785d5e9",
      "name": "Send a text message",
      "webhookId": "07cccfb1-30bc-4c49-871b-b234b62af9eb"
    },
    {
      "parameters": {
        "tableId": "jobs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "=remote_id",
              "fieldValue": "={{ $json.remote_id }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.title }}"
            },
            {
              "fieldId": "company",
              "fieldValue": "={{ $json.company }}"
            },
            {
              "fieldId": "url",
              "fieldValue": "={{ $json.url }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1152, 16],
      "id": "fd844110-d3eb-4984-b440-10de2573dbd6",
      "name": "Create a row"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a career assistant.\n\nAnalyze this remote job.\n\nTitle:\n{{$json.title}}\n\nCompany:\n{{$json.company}}\n\nDescription:\n{{ $json.description ? $json.description.substring(0,500) : '' }}\n\nCreate a concise report using exactly this format:\n\n🎯 Difficulty: Beginner/Intermediate/Advanced\n\n📝 Summary:\n(1 sentence)\n\n🛠 Skills:\n• skill 1\n• skill 2\n• skill 3\n\n⭐ Recommendation:\n(Who should apply for this job)",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [1264, 208],
      "id": "fbf3ccf5-c6bc-497c-b7ca-4eca71322d4f",
      "name": "Basic LLM Chain",
      "retryOnFail": true
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1040, 256],
      "id": "d4f0a1e7-dc35-4e57-b5c1-9ee691da15db",
      "name": "Wait",
      "webhookId": "0c5eb05a-864d-45ec-baa3-d61d357f4d7a"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "id": "e010abcd-6bf7-4520-a0ca-405f61deeaeb",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "jobs",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [688, 16],
      "id": "68abdab0-b0ac-4de6-84ea-7fc713739054",
      "name": "Get many rows",
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const newJobs = $('Code in JavaScript').all();\nlet existingRows = [];\n\ntry {\n  existingRows = $input.all();\n} catch (e) {\n  existingRows = [];\n}\n\nconst existingIds = existingRows.map(r => r.json.remote_id);\n\nreturn newJobs.filter(job => !existingIds.includes(job.json.remote_id));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [928, 16],
      "id": "d18ac7ee-3119-445a-8511-45451b58bfa0",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "model": "YOUR_GROQ_MODEL_HERE",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [1200, 416],
      "id": "1e82886a-6d8c-4438-ad67-5b5973f3ff5f",
      "name": "Groq Chat Model"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [[{"node": "Code in JavaScript", "type": "main", "index": 0}]]
    },
    "Code in JavaScript": {
      "main": [[{"node": "Get many rows", "type": "main", "index": 0}]]
    },
    "Create a row": {
      "main": [[{"node": "Wait", "type": "main", "index": 0}]]
    },
    "Basic LLM Chain": {
      "main": [[{"node": "Send a text message", "type": "main", "index": 0}]]
    },
    "Wait": {
      "main": [[{"node": "Basic LLM Chain", "type": "main", "index": 0}]]
    },
    "Schedule Trigger": {
      "main": [[{"node": "HTTP Request", "type": "main", "index": 0}]]
    },
    "Get many rows": {
      "main": [[{"node": "Code in JavaScript1", "type": "main", "index": 0}]]
    },
    "Code in JavaScript1": {
      "main": [[{"node": "Create a row", "type": "main", "index": 0}]]
    },
    "Groq Chat Model": {
      "ai_languageModel": [[{"node": "Basic LLM Chain", "type": "ai_languageModel", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
